/*#region Stylesheet Rules */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}


/* Utilities classes for see my container borders */
.bordo {
    border: 2px solid rgb(1, 217, 233)
}

/*#endregion */

/*#region Common Rules */

/*#endregion */

/*#region Root Elements */

/* Font Families imported from Google */

/* Barlow */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
/* Fraunces */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

/* Root elements for Containers */
/* All the dimensions were taken from Figma */
:root {
    --hero_cont_h : 800px;
    --hero_cont_w : 100%;
    --transform_cont_h: 600px;
    --transform_cont_w : 100%;
    --standout_cont_h: 600px;
    --standout_cont_w : 100%;
    --graphic_cont_h: 600px;
    --graphic_cont_w:100%;   
    --testimonial_cont_h: 780px;
    --testimonial_cont_w:100%;
    --footer_cont_h: 800px;
    --footer_cont_w: 100%;
}

/* All the primary colors */
:root {
    --soft_red : hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark_cyan: hsl(167, 40%, 24%);
    --dark_blue:hsl(198, 62%, 26%);
    --dark_moderate_cyan: hsl(168, 34%, 41%);
}

/* All the secondary colors */
:root {
    --Very_dark_desaturated_blue : hsl(212, 27%, 19%);
    --Very_dark_grayish_blue: hsl(213, 9%, 39%);
    --Dark_grayish_blue : hsl(232, 10%, 55%);
    --Grayish_blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}

/* Font Family & Weight */
:root {
    --barlow : 'Barlow', sans-serif;
    --barlow_weight : 600;
    --fraunces : 'Fraunces', serif;
    --fraunces_semibold_weight : 700;
    --fraunces_bold_weight : 900
}

/*#endregion */

/*#region Site Header */
.h_header {
    width: var(--hero_cont_w);
    height: var(--hero_cont_h);
}
/*#endregion */

/*#region Site Main */
.h_brand {
    width: var(--transform_cont_w);
    height: var(--transform_cont_h);
}

.h_standout {
    width: var(--standout_cont_w);
    height: var(--standout_cont_h);
}

.h_design {
    width: var(--graphic_cont_w);
    height: var(--graphic_cont_h);
}

/*#endregion */