/*#region Stylesheet Rules */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    display: flex;
    justify-content: center;
}

body {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

/* Utilities classes for see my container borders */
.bordo {
    border: 2px solid rgb(1, 217, 233)
}

/*#endregion */

/*#region Root Elements */

/* Font Families imported from Google */

/* Barlow */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
/* Fraunces */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');

/* Root elements for Containers */
/* All the dimensions were taken from Figma */
:root {
    --hero_cont_h : 800px;
    --hero_cont_w : 100%;
    --transform_cont_h: 600px;
    --transform_cont_w : 100%;
    --standout_cont_h: 600px;
    --standout_cont_w : 100%;
    --graphic_cont_h: 600px;
    --graphic_cont_w:100%;   
    --testimonial_cont_h: 780px;
    --single_testimonial_h: 490px;
    --testimonial_cont_w:100%;
    --footer_card_cont_h: 450px;
    --footer_card_cont_w: 100%;
    --icons_cont_h : 350px; /* 800px was the full footer container height */
    --icons_cont_w : 100%
}

/* All the primary colors */
:root {
    --soft_red : hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark_cyan: hsl(167, 40%, 24%);
    --dark_blue:hsl(198, 62%, 26%);
    --dark_moderate_cyan: hsl(168, 34%, 41%);
}

/* All the secondary colors */
:root {
    --Very_dark_desaturated_blue : hsl(212, 27%, 19%);
    --Very_dark_grayish_blue: hsl(213, 9%, 39%);
    --Dark_grayish_blue : hsl(232, 10%, 55%);
    --Grayish_blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}

/* Font Family & Weight */
:root {
    --barlow : 'Barlow', sans-serif;
    --barlow_weight : 600;
    --barlow_p: 18px;
    --fraunces : 'Fraunces', serif;
    --fraunces_h2 : 42px;
    --fraunces_semibold_weight : 700;
    --fraunces_bold_weight : 900
}

/*#endregion */

/*#region Common Rules */
.flex_cent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h2_text {
    font-family: var(--fraunces);
    font-size: var(--fraunces_h2);
    font-weight: var(--fraunces_bold_weight);
    
}

.p_text {
    font-family: var(--barlow);
    font-weight: var(--barlow_weight);
    font-size: var(--barlow_p);
    color: #858591;
    width: 95%;
}

/*#endregion */


/*#region Site Header */
.h_header {
    width: var(--hero_cont_w);
    height: var(--hero_cont_h);
}

/*#endregion */

/*#region Pictures Header  */
#glass_pic,
#egg_pic,
#cherry_pic,
#orange_pic {
    background-position: center center;
    aspect-ratio: 1 / 1;
    max-width: 100%;
    max-height: 100%;
    filter:saturate(160%);
}

#egg_pic {
    background-image: url('../images/desktop/image-transform.jpg');
}
#glass_pic {
    background-image: url('../images/desktop/image-stand-out.jpg');
}
#cherry_pic {
    background-image: url('../images/desktop/image-graphic-design.jpg');
}
#orange_pic {
    background-image: url('../images/desktop/image-photography.jpg');
}



/*#endregion */

/*#region Site Main */
.h_brand {
    width: var(--transform_cont_w);
    height: var(--transform_cont_h);
}

.h_standout {
    width: var(--standout_cont_w);
    height: var(--standout_cont_h);
}

.h_design {
    width: var(--graphic_cont_w);
    height: var(--graphic_cont_h);
}

.h_testimonial {
    width: var(--testimonial_cont_w);
    height: var(--testimonial_cont_h);
}

.single_testimonial {
    height: var(--single_testimonial_h);
}

/*#endregion */

/*#region Site Footer */
.h_cards {
    width: var(--footer_card_cont_w);
    height: var(--footer_card_cont_h);
}

.h_icons {
    width: var(--icons_cont_w);
    height: var(--icons_cont_h);
}
/*#endregion */

/*#region Media Queries */

@media screen and (max-width: 350px) {
    
    html {
        display: flex;
        justify-content: center;
    }
    
    body {
        max-width: 350px;
        width: 100%;
        margin: 0 auto;
    }
    
    /* Root Elements for Containers and Columns */
    :root {
        --hero_cont_h : 540px; /* Header Container */
        --hero_cont_w : 100%;
        --egg_cont_h: 310px; /* Egg Pictures */
        --egg_cont_w: 100%;
        --transform_box_h: 440px; /* Transform Your brand */
        --transform_box_w : 100%;
        --glasses_cont_h : 310px; /* Glasses Photo */
        --glasses_cont_w : 100%;
        --standout_box_h: 440px; /* Stand Out */ 
        --standout_box_w : 100%;
        --graphic_box_h: 600px; /* Graphic Design */
        --graphic_box_w:100%; 
        --photo_box_h: 600px; /*Photography */
        --photo_box_w: 100%   
        --testimonial_cont_h: 1260px; /* Testimonials Container */
        --testimonial_cont_w:100%;
        --footer_card_cont_h: 375px; /* Four photos (milk etc)  */
        --footer_card_cont_w: 100%;
        --icons_cont_h : 350px; /* Icons */
        --icons_cont_w : 100%
    }

    /*#region Site Header */
    .h_header {
        width: var(--hero_cont_w);
        height: var(--hero_cont_h);
    }

    /* Take this as reference for the others */
    #egg_pic {
        background-image: url(../images/mobile/image-transform.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: contain;
        width: var(--egg_cont_w);
        height: var(--egg_cont_h);
        max-width: 100%;
        max-height: 100%;
    }
    /*#endregion */
}



/*#endregion */
